[Unit]
Description=innernet client daemon for %I
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target
PartOf=innernet.target

[Service]
Type=simple
ExecStart=/usr/bin/innernet up %i --daemon --interval 60
Restart=always

[Install]
WantedBy=multi-user.target
