[Unit]
Description=innernet server for %I
After=network-online.target nss-lookup.target
Wants=network-online.target nss-lookup.target

[Service]
Type=simple
Environment="RUST_LOG=info"
ExecStart=/usr/bin/innernet-server serve %i
Restart=always
# When the daemon exits, wait this amount of secs before restarting instead of default 100ms.
RestartSec=1

[Install]
WantedBy=multi-user.target
