name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker images
      run: docker-tests/build-docker-images.sh
    - name: Run the Docker tests
      run: docker-tests/run-docker-tests.sh

